body{
    background-color: #202020;
}

h1{     /* deixar o titulo bonito*/
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  justify-self: center;
  font-size: 50px;
  color: #fff;
}

#tudo{ /*centraliza e muda a cor da pagina toda*/
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#botoes{
    flex: 1;
    width: auto;
    display: flex;

}

#game{
    flex: 7;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

/*criei a barra lateral onde vai ficar os botoes com tudo*/
.sidebar {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;   /* centraliza os cards */
    padding: 20px;
    gap: 20px;
    background-color: #2a2a2a;
}

h4 {
    color: #fff;
    padding-left: 15px;
    font-size: 15px;
}

.bloco {
    width: 100%;
    background-color: #202020;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#main{
    flex: 2;
    height: 200px;
}

#p1{
    flex: 1;
    height: 200px;
}

#p2{
    flex: 1;
    height: 200px;
}




.grid{ 
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(5, 75px);
    grid-template-rows: repeat(5, 75px);
    margin-bottom: 20px;
    gap: 4px;
}
.item{
    height: 75px;
    width: 75px;
    border: 2px solid rgb(35, 35, 35);
    border-radius: 10px;
    
    background-color: rgb(97, 97, 97);

    display: grid;
    font-size: 50px;
    place-items: center; /*pra centralizar o robô*/
}
button{
    margin: 5px;
    background-color:darkred;
    color: #fff;
    cursor: pointer;
    width: 110px;
    height: 60px;
    
    display: grid;
    justify-content: center;
    border-radius: 10px;
}


button:hover{
    background: rgb(182, 1, 1);
    transform: scale(1.05);
}

button#executar:hover{
    background: rgb(17, 145, 0);
    transform: scale(1.05);
}

#executar{
    background-color: rgb(9, 178, 9);
}


