h1{
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  justify-self: center;
  font-size: 50px;
  color: #fff;
}

body{
    place-items: center;
    height: 100vh;
    background-color: #202020;
}

.container{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(5, 75px);
    grid-template-rows: repeat(5, 75px);
    margin-bottom: 20px;
    gap: 4px;
}
.item{
    height: 75px;
    width: 75px;
    border: 2px solid rgb(35, 35, 35);
    border-radius: 10px;
    
    background-color: rgb(97, 97, 97);

}
button{
    margin: 5px;
    background-color:darkred;
    color: #fff;
    cursor: pointer;
    width: 110px;
    height: 60px;
    
    display: grid;
    justify-content: center;
    border-radius: 10px;
}
button:hover{
    background: rgb(182, 1, 1);
    transform: scale(1.05);
}

button.executar:hover{
    background: rgb(17, 145, 0);
    transform: scale(1.05);
}

.linhabotao{
    display: grid;
    align-items: center;
    max-width: 400px;
    grid-template-rows: 80px 60px;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-content: center;
    

}
.executar{
    background-color: rgb(9, 178, 9);
}

.cmdline{
    display: grid;
    grid-column: 1/4;
    width: 350px;
    height: 60px;
    background-color: gray;
    outline: #fff solid;
    border-radius: 20px;
    align-items: center;
}
