body{
    background-color: #202020;
}

h1{     /* deixar o titulo bonito*/
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  justify-self: center;
  font-size: 50px;
  color: #fff;
}

#tudo{ /*centraliza*/
    display: flex;
    height: 100vh;
}



#game{
    flex: 7;
    height: 100%;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#robo{
    position: absolute;
    width: 60px;
    height: 60px;
    font-size: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#lamp {
    background-color: rgb(7, 1, 184);
    height: 75px;
    width: 75px;
    border-radius: 10px;

}

/*criei a barra lateral onde vai ficar os botoes com tudo*/
.sidebar {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;   /* centraliza os cards */
    padding: 20px;
    gap: 20px;
    background-color: #2a2a2a;
}

/*texto que fica dentro dos cards */
h4 {
    color: #fff;
    padding-left: 15px;
    font-size: 15px;
}

/*aqui é onde vai entrar as sequencias de comando*/
.bloco {
    width: 100%;
    background-color: #202020;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.blcheader {
    display: flex;
    justify-content: space-between;
}

#main{
    flex: 2;
    height: 200px;
}

#p1{
    flex: 1;
    height: 200px;
}

#p2{
    flex: 1;
    height: 200px;
}

.seletor {
    margin: 15px;
    border-radius: 15px;
    align-content: center;
    background-color: #737373;
    height: 3ch;
    float: inline-end;
    cursor: pointer;
}



.grid{ 
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(5, 75px);
    grid-template-rows: repeat(5, 75px);
    margin-bottom: 20px;
    gap: 4px;
}
.item{
    height: 75px;
    width: 75px;
    border-radius: 10px;
    border: 2px solid rgb(35, 35, 35);
    
    background-color: rgb(97, 97, 97);

    display: grid;
    font-size: 50px;
    place-items: center; /*pra centralizar o robô*/
}

#botoes{
    flex: 1;
    width: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;

}


button{
    margin: 5px;
    background-color:darkred;
    color: #fff;
    cursor: pointer;
    width: 110px;
    height: 60px;
    
    display: grid;
    justify-content: center;
    border-radius: 10px;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* hover pro botao mudar quando passar o mouse em cima*/
button:hover{
    background: rgb(182, 1, 1);
    transform: scale(1.05);
}

button#executar:hover{
    background: rgb(17, 145, 0);
    transform: scale(1.05);
}

#executar{
    background-color: rgb(9, 178, 9);
    grid-area: 1 / 5 / 3 / 6;
    height: 150px;
    font-size: 30px;
    display: grid;
    align-items: center;
}


.active{
    transform:scale(1.1);
    outline: 1px solid #fff;
    
}

.active > div > button{
    color: transparent;
    background-color: transparent;
    
}